@{ 
    string url = Request.Url.ToString().ToLower();
}

@if (url.Contains("home"))
{
    <aside class="col-sm-3 col-md-2 sidebar">
        <nav class="sidebar-nav">
            <ul class="metismenu" id="menu">
                <li class="active">
                    <a href="#" aria-expanded="true">
                        <i class="icon icon-github"></i>
                            系统统计
                        <i class="fa arrow fa-fw"></i>
                    </a>
                    <ul aria-expanded="true">
                        <li>
                            <a href="#">
                                <i class="icon icon-list"></i>
                                访问统计
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icon icon-github"></i>
                                用户统计
                            </a>
                        </li>
                    </ul>
                </li>
                
                <li>
                    <a href="#" aria-expanded="false">博客管理<i class="fa arrow fa-fw"></i></a>
                    <ul aria-expanded="false">
                        <li><a href="#">博客列表</a></li>
                        <li><a href="#">发布博客</a></li>
                    </ul>
                </li>

                <li>
                    <a href="#">广告管理<i class="fa arrow fa-fw"></i></a>
                    <ul aria-expanded="false">
                        <li><a href="#">轮播图管理</a></li>
                    </ul>
                </li>

                <li>
                    <a href="#" aria-expanded="false">用户管理<i class="fa arrow fa-fw"></i></a>
                    <ul aria-expanded="false">
                        <li><a href="#">修改信息</a></li>
                        <li><a href="#">修改密码</a></li>
                        <li>
                            <a href="#" aria-expanded="false">用户信息管理<span class="fa plus-times"></span></a>
                            <ul aria-expanded="false">
                                <li><a href="#">修改信息</a></li>
                                <li><a href="#">修改密码</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="#" aria-expanded="false">权限管理<i class="fa arrow fa-fw"></i></a>
                    <ul aria-expanded="false">
                        <li><a href="#">用户授权</a></li>
                        <li><a href="#">用户组管理</a></li>
                        <li><a href="#">用户组授权</a></li>
                    </ul>
                </li>

                <li>
                    <a href="#" aria-expanded="false">日志管理<i class="fa arrow fa-fw"></i></a>
                    <ul aria-expanded="false">
                        <li><a href="#">用户日志</a></li>
                        <li><a href="#">系统日志</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </aside>
}
else if (url.Contains("blogarticle"))
{
    <aside class="col-sm-3 col-md-2 sidebar">
        <nav class="sidebar-nav">
            <ul class="metismenu" id="menu">
                <li>
                    <a href="#" aria-expanded="true">
                        <i class="icon icon-github"></i>
                        系统统计
                        <i class="fa arrow fa-fw"></i>
                    </a>
                    <ul aria-expanded="true">
                        <li>
                            <a href="#">
                                <i class="icon icon-list"></i>
                                访问统计
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icon icon-github"></i>
                                用户统计
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="active">
                    <a href="#" aria-expanded="false">博客管理<i class="fa arrow fa-fw"></i></a>
                    <ul aria-expanded="false">
                        <li><a href="~/Admin/Views/Index">博客列表</a></li>
                        <li><a href="~/Admin/Views/Add">发布博客</a></li>
                    </ul>
                </li>

                <li>
                    <a href="#" aria-expanded="false">广告管理<i class="fa arrow fa-fw"></i></a>
                    <ul aria-expanded="false">
                        <li><a href="#">轮播图管理</a></li>
                    </ul>
                </li>

                <li>
                    <a href="#" aria-expanded="false">用户管理<i class="fa arrow fa-fw"></i></a>
                    <ul aria-expanded="false">
                        <li><a href="#">修改信息</a></li>
                        <li><a href="#">修改密码</a></li>
                        <li>
                            <a href="#" aria-expanded="false">用户信息管理<span class="fa plus-times"></span></a>
                            <ul aria-expanded="false">
                                <li><a href="#">修改信息</a></li>
                                <li><a href="#">修改密码</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="#" aria-expanded="false">权限管理<i class="fa arrow fa-fw"></i></a>
                    <ul aria-expanded="false">
                        <li><a href="#">用户授权</a></li>
                        <li><a href="#">用户组管理</a></li>
                        <li><a href="#">用户组授权</a></li>
                    </ul>
                </li>

                <li>
                    <a href="#" aria-expanded="false">日志管理<i class="fa arrow fa-fw"></i></a>
                    <ul aria-expanded="false">
                        <li><a href="#">用户日志</a></li>
                        <li><a href="#">系统日志</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </aside>
}
else if (url.Contains("advertisement"))
{
    <aside class="col-sm-3 col-md-2 sidebar">
        <nav class="sidebar-nav">
            <ul class="metismenu" id="menu">
                <li>
                    <a href="#" aria-expanded="true">
                        <i class="icon icon-github"></i>
                        系统统计
                        <i class="fa arrow fa-fw"></i>
                    </a>
                    <ul aria-expanded="true">
                        <li>
                            <a href="#">
                                <i class="icon icon-list"></i>
                                访问统计
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icon icon-github"></i>
                                用户统计
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="active">
                    <a href="#" aria-expanded="false">博客管理<i class="fa arrow fa-fw"></i></a>
                    <ul aria-expanded="false">
                        <li><a href="~/Admin/Views/Index">博客列表</a></li>
                        <li><a href="~/Admin/Views/Add">发布博客</a></li>
                    </ul>
                </li>

                <li class="active">
                    <a href="#" aria-expanded="false">广告管理<i class="fa arrow fa-fw"></i></a>
                    <ul aria-expanded="false">
                        <li><a href="#">轮播图管理</a></li>
                    </ul>
                </li>

                <li>
                    <a href="#" aria-expanded="false">用户管理<i class="fa arrow fa-fw"></i></a>
                    <ul aria-expanded="false">
                        <li><a href="#">修改信息</a></li>
                        <li><a href="#">修改密码</a></li>
                        <li>
                            <a href="#" aria-expanded="false">用户信息管理<span class="fa plus-times"></span></a>
                            <ul aria-expanded="false">
                                <li><a href="#">修改信息</a></li>
                                <li><a href="#">修改密码</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="#" aria-expanded="false">权限管理<i class="fa arrow fa-fw"></i></a>
                    <ul aria-expanded="false">
                        <li><a href="#">用户授权</a></li>
                        <li><a href="#">用户组管理</a></li>
                        <li><a href="#">用户组授权</a></li>
                    </ul>
                </li>

                <li>
                    <a href="#" aria-expanded="false">日志管理<i class="fa arrow fa-fw"></i></a>
                    <ul aria-expanded="false">
                        <li><a href="#">用户日志</a></li>
                        <li><a href="#">系统日志</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </aside>
}